<!DOCTYPE html>
<html>
<head>
  <title>Simpabooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Open+Sans:400,300,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="menu">
    <h4>
    <%= link_to "Simpabooks", root_path %>
    <%= link_to "Books", books_path %>
    <%= link_to "Authors", authors_path %>
    </h4>
  </div>

<%= yield %>

</body>
</html>
